*{
    margin:0;
    padding:0;
    box-sizing:border-box;    
    font-family: 'Poppins' ;                                                 
}

body {
    color: #fcf5f5
}

header{
    position: fixed;
    top:0;                                      
    left:0;
    width:100%;
    padding: 25px 9%;
    background: #e3b6c8;
    box-shadow: 0 2px 10px rgba(red, green, blue, alpha);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}